/*
 Basic CSS customizations for EconPractice - for if you don't want to
 get into scss.
 */

.GraphPicker .graph-card {
    width: 50%;
    display: inline-block;
    margin-bottom: 1em;
}

.ep-min-max {
    width: 20px;
}

.ep-max {
    margin-left: 10px;
}

figure#editing-graph {
    background-color: white;
}

.ep-score-path {
    border: dashed;
}
