{% extends "base.html" %}
{% load compress static bootstrap4 %}

{% block title %}
   Please Login
{% endblock %}

{% block css %}
    {% compress css %}
        <link href="{{STATIC_URL}}css/splash.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block bodyclass %}splash{% endblock %}
{% block main-class %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content-container %}

    <div class="site-wrapper">
    <div class="container">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark bg-bright-blue hp-nav">
                <a class="navbar-brand" href="/" title="EconPractice Home">
                    <img src="{% static 'img/logo-econpractice.svg' %}" width="200" height="39.78" alt="EconPractice logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav">
                    {% if not request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="/" title="EconPractice Home">Hi,
                            {% if user.first_name %}
                            {{user.first_name}}!
                            {% else %}
                            {{user.username}}!
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" title="About" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="Contact" href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>
          </nav>
        </header>
    </div>

    <div class="site-wrapper-inner container">
        <div class="cover-container">
            <main role="main" class="inner cover"> <img
                src="{% static 'img/logo-econpractice.svg' %}" class="img-fluid"
                alt="EconPractice">

                <p class="lead">BETA VERSION</p>

                <div class="loginbox">
                    <p>
                        If you have a Columbia University Network ID
                        (UNI)
                    </p>
                    <form class="text-center" method="get" action="/cas/login">
                        <input type="hidden" name="next" value="/" />

                        <input class="btn loginbtn" type="submit"
                               value="Columbia Log In" />

                        <p class="small pt-2">
                            <a href="https://cuit.columbia.edu/cuit/manage-my-uni"
                               title="Learn more about UNI" target="_blank">What is a UNI?</a>
                        </p>
                    </form>

                    <hr class="separator" />

                    <p>If you have a guest account</p>
                    <form id="login-local" class="text-center"
                          name="login_local" method="post" action="/accounts/login/">
                        <p class="local-login-errors text-danger" style="display: none;">
                            <span><strong>Invalid username or password.</strong></span>
                            Please try again. Note that both username and password are case-sensitive.
                        </p>

                        {% csrf_token %}
                        <div class="login-local-form"
                             {% if not form.errors %}style="display: none"{% endif %}>
                            {% bootstrap_form form layout='inline' %}
                        </div>
                        <input class="btn loginbtn" type="button"
                               value="Guest Log In"
                               {% if form.errors %}style="display: none" {% endif %}
                               onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;" />
                        <input class="btn btn-secondary login-local-form loginbtn"
                               type="submit" value="Log In"
                               {% if not form.errors %}style="display: none;" {% endif %} />
                        <input type="hidden" name="next" value="/" />
                        <div class="small pt-2">
                            <a href="/accounts/password_reset/" title="Reset Password">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <footer class="mastfoot">
        <div class="inner">
            <p>
                Built by
                <a href="https://sipa.columbia.edu/faculty-research/faculty-directory/thomas-groll" title="Thomas Groll's site">
                    Thomas Groll
                </a> and the <a href="https://ctl.columbia.edu" title="Columbia University Center for Teaching and Learning">CTL</a>.
            </p>
        </div>
    </footer>
</div>


{% endblock %}
