{% extends "registration/base_registration.html" %}
{% load i18n bootstrap4 %}

{% block registration_content %}
    <h2 class="pagetitle signuptitle">Reset password</h2>

    <p>
        Forgot your password? Enter your email in the form below and
        you will receive instructions for creating a new one.
    </p>

    <div class="password-reset">

        <form method="post" action=".">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons submit='Submit' %}{% endbuttons %}
        </form>
    </div>
{% endblock %}
