.btn-primary {
    background-color: $blue;
}

.graph-listing-item {
    margin-bottom: 1rem !important;
}

.graph-listing-item p {
    margin-left: 1rem;
}

.loginbtn {
    border: 3px solid $background  !important;
    border-radius: 0.5rem;
}

.loginbtn:focus,
.loginbtn:hover {
    background-color: $background  !important;
    border: 3px solid white !important;
    color: white !important;
}

.lti-landing {
    background-color: $background;
}

.slider-wrapper {
    margin: 0 0.2rem 1rem 0.2rem;
}

.card-deck .card {
    min-width: calc(31% - 1rem) !important;
    max-width: calc(31% - 1rem) !important;
}

.card a img {
    border: 2px solid #ccc;
}

.card a:hover img {
    border: 2px solid $blue;
}

.shift-down {
    position: absolute;
    top: 1rem;
}

.shift-up {
    position: relative;
    top: -0.5rem;
}

#outer-container {
    padding-bottom: 2em;
}

.errornote {
    background: url("/media/img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
    border: 1px solid #c00 !important;
    display: block;
    font-size: 11px !important;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 10px !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 140%;
}

.jxgbox {
    margin: 0 auto;
}

// Select box appearance reset
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* MathJax */
.mjx-chtml.MJXc-display {
    margin: 0;
}

.GraphEditor,
.topics-form,
.featuredgraphs-form {
    svg.octicon {
        width: 20px;
        height: 20px;
    }
}

#skip a,
.accessibility-note {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    position: static;
    width: auto;
    height: auto;
}