$blue: #0e48a1;
$background: #1e429b;

$visited: #4c0075;
$visited-light: #efefef;

// https://getbootstrap.com/docs/5.3/migration/#breadcrumbs
$breadcrumb-bg: #e9ecef;
$breadcrumb-border-radius: 0.25rem;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;
