* { font-family: 'Quattrocento Sans', sans-serif; }

h1
{
	color: #0e48a1;
	font-weight: 900;
}

h2
{
	margin-top: 1em;
	font-weight: 700;
}

h3, p.lead { font-weight: 600; }

h3 { margin-top: 1em; }



.lead { margin-bottom: 3em; }


p a, li a, h3 a { color: #0e48a1; }

input.monospace {
    font-family: monospace;
}
