:root,
[data-bs-theme=light] {
    --bs-font-sans-serif: 'Quattrocento Sans';
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    box-shadow: none;
}

h1 {
    color: $blue;
    font-weight: 900;
}

h1 div {
    color: $blue;
}

.h1-small {
    font-size: 2rem;
}

h2 {
    font-weight: 700;
}

h2.card-title {
    font-size: 1.5rem;
}

p.lead {
    font-weight: 500;
    margin-left: 1rem;
    margin-bottom: 0;
}

.list-group-item h3 {
    margin-top: 0;
}

h3.card-title {
    margin-top: 0;
    padding-bottom: 0.5em;
}

.card-img-top .badge {
    position: absolute;
    left: 0;
    bottom: 0;
}

.lead {
    margin-bottom: 3em;
}


p a,
li a,
h3 a {
    color: $blue;
}

button:hover {
    text-decoration: none;
}

a:visited {
    color: $visited;
}

a.btn:visited,
button a:visited {
    color: white;
}

input.monospace {
	font-family: monospace;
}

span.MJXc-display {
	padding-left: 15px;
}
