{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
<h1 class="mt-4">{{ object.title }}</h1>
{% endblock %}

{% block pagedescription %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'assignment_edit' object.pk %}" title="Edit {{ object.title }}">
            <button class="btn btn-secondary mb-4 mr-4">
                Edit "{{ object.title }}"
            </button>
        </a>
        <a href="{% url 'assignment_clone' object.pk %}" title="Edit {{ object.title }}">
            <button class="btn btn-secondary mb-4 mr-4">
                Clone "{{ object.title }}"
            </button>
        </a>
    </div>
    <p>{{ object.prompt }}</p>
    <div class="container">
        <strong class="row bg-dark text-white p-1">
            <div class="col-2">Question</div>
            <div class="col-2">Type</div>
            <div class="col-5">Adaptive Path</div>
            <div class="col-3">Actions</div>
        </strong>
        {% for bank in object.banks.all %}
        <div class="row text-bg-info p-1 border-bottom">
            <div class="col-2">
                <span class="ms-4">{{forloop.counter}} {{ bank.title }}</span>
            </div>
            <div class="col-2">
                <div class="col-auto">
                    <select class="form-select form-select-sm text-dark select-sm" aria-label="Section Type">
                        <option selected="">Select One</option>
                        <option value="1">Assessment</option>
                        <option value="1">Intervention</option>
                    </select>
                </div>
            </div>
            <div class="col-5">
                <form class="row">
                    <div class="col-auto">
                        <div class="form-check form-switch">
                            <input type="checkbox" id="flexSwitchCheckChecked" class="form-check-input" role="switch" checked={{bank.adaptive}}>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <select class="btn-sm form-select form-select-sm bg-success text-light select-sm" aria-label="Adaptive Path">
                            <option selected="">If correct, go to:</option>
                            {% for jump_to in object.banks.all %}
                            {% if jump_to.pk != bank.pk %}
                            <option value="1">{{ bank.title }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="btn-sm form-select form-select-sm bg-danger text-light" aria-label="Intervention">
                            <option selected="">If incorrect, go to:</option>
                            {% for jump_to in object.banks.all %}
                            {% if jump_to.pk != bank.pk %}
                            <option value="1">{{ bank.title }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <a href="{% url 'question_bank_edit' bank.pk %}" title="Edit {{ bank.title }}">
                    <button class="btn btn-secondary btn-sm col-auto">Edit Q{{ forloop.counter }}</button>
                </a>
            </div>
        </div>
        {% for sub_bank in bank.supplemental %}
        <div class="row text-bg-light p-1 border-bottom">
            <div class="col-2">
                <span class="ms-8">{{forloop.parentloop.counter}}.{{forloop.counter}} {{ sub_bank.title }}</span>
            </div>
            <div class="col-2">
                <div class="col-auto">
                    <select class="form-select form-select-sm text-dark select-sm" aria-label="Section Type">
                        <option selected="">Select One</option>
                        <option value="1">Assessment</option>
                        <option value="1">Intervention</option>
                    </select>
                </div>
            </div>
            <div class="col-5">
                <form class="row">
                    <div class="col-auto">
                        <div class="form-check form-switch">
                            <input type="checkbox" id="flexSwitchCheckChecked" class="form-check-input" role="switch" checked={{sub_bank.adaptive}}>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <select class="btn-sm form-select form-select-sm bg-success text-light select-sm" aria-label="Adaptive Path">
                            <option selected="">If correct, go to:</option>
                            {% for jump_to in bank.supplemental.all %}
                            {% if jump_to.pk != sub_bank.pk %}
                            <option value="1">{{ sub_bank.title }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="btn-sm form-select form-select-sm bg-danger text-light" aria-label="Intervention">
                            <option selected="">If incorrect, go to:</option>
                            {% for jump_to in bank.supplemental.all %}
                            {% if jump_to.pk != sub_bank.pk %}
                            <option value="1">{{ sub_bank.title }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <a href="{% url 'question_bank_edit' sub_bank.pk %}" title="Edit {{ sub_bank.title }}">
                    <button class="btn btn-secondary btn-sm col-auto">Edit Q{{forloop.parentloop.counter}}.{{ forloop.counter }}</button>
                </a>
            </div>
        </div>
        <a href="{% url 'question_bank_create' %}">
            <button class="btn btn-secondary btn-sm mt-3">Add Q{{forloop.parentloop.counter}}.{{ forloop.counter|add:"1" }}</button>
        </a>
        {% endfor %}
        {% if forloop.last %}
        <a href="{% url 'question_bank_create' %}">
            <button class="btn btn-secondary btn-sm mt-3">Add Q{{ forloop.counter|add:"1" }}</button>
        </a>
        {% endif %}
        {% empty %}
        <div class="row text-bg-light text-secondary p-1">
            <div class="col-12"><em>This assignment has no path.</em></div>
        </div>
        <a href="{% url 'question_bank_create' %}">
            <button class="btn btn-primary btn-sm mt-3">Add Q1</button>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}