{% extends 'base.html' %}

{% block title %}Assignment Topic{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'assignment_list' %}">
                    {% include 'main/your_assignments_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'assignment_list' %}">
                    {{ assignment.title|truncatewords:5 }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'assignment_list' %}">
                    Manage Assignments
                </a>
            </li>
            <li class="breadcrumb-item">Delete Assignment</li>
        </ol>
    </nav>
{% endblock %}

{% block pagetitle %}
    <h1 class="mt-4">Delete Assignment</h1>
{% endblock %}

{% block content %}
    {% if not readonly %}
        <p>
            Are you sure you want to delete the
            <strong>{{object.title}}</strong> assignment?
        </p>
    {% endif %}

    <form action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-2 mb-1 pr-0">
                <button type="submit" class="btn btn-block btn-primary">Delete</button>
            </div>
            <div class="col-md-2 mb-1 pr-0">
                <a class="btn btn-block btn-secondary"
                   href="{% url 'assignment_list' %}">
                    Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock %}
