{% extends 'base.html' %}
{% load static econ_auth markup %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
    {% if i_am_instructor %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_list' %}" title="Course List">
                    {% include 'main/your_cohorts_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_detail' object.pk %}" title="{{object.title}}">
                    {{ object.title|truncatewords:5 }}
                </a>
            </li>
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block pagetitle %}<h1 class="mt-4">{{ object.title }}</h1>{% endblock %}

{% block content %}
    <div id="graph-listing" class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <p class="text-secondary">Browse and experience our collection of graphs.</p>
            {% if featured %}
            <h2>Featured Graphs</h2>
            {% elif not active_topic %}
            <h2>All Graphs</h2>
            {% else %}
                {% for topic in topic_list %}
                {% if topic.id == active_topic %}<h2>{{ topic.name }}</h2>{% endif %}
                {% endfor %}
            {% endif %}
            <div class="row">
                {% if featured %} {# Renders the featured graphs #}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="list-group list-group-flush">
                    {% for graph in graph_list %}
                    <li class="list-group-item">
                        <article class="graph-listing-item">
                            <h3>
                                <a href="{% url 'cohort_graph_detail' object.pk graph.id %}" title="{{graph.title}}">
                                    {{ graph.title }}
                                </a>
                            </h3>
                            {% if graph.summary %}
                            <div class="mb-2">
                                <p>{{ graph.summary | commonmark }}</p>
                            </div>
                            {% endif %}
                            <a href="?topic={{ graph.topic }}" title="Topic: {{graph.topic}}">
                                {{ graph.topic }}
                            </a>
                            {% if i_am_instructor %}
                            {% if graph.is_published %}
                            <div class="float-right">
                                <span class="badge badge-pill badge-primary">Published</span>
                            </div>
                            {% endif %}
                            {% if graph.needs_submit %}
                            <div class="float-right">
                                <span class="badge badge-pill badge-secondary">LTI</span>
                            </div>
                            {% endif %}
                            {% endif %}
                        </article>
                    </li>
                    {% empty %}
                    <li class="list-group-item">
                        <article class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="ml-4">
                                No graphs here.
                            </p>
                        </article>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                {% elif not active_topic %} {# Renders all graphs #}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for topic in topic_list %}
                        {# Then render those with a topic #}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if topic.graph_set.all %}
                                    <h3>{{ topic.name }}</h3>
                                    {% for graph in topic.graph_set.all %}
                                        {% if i_am_instructor or graph.is_visible_to_students %}
                                        <article class="graph-listing-item">
                                            <h4>
                                                <a href="{% url 'cohort_graph_detail' object.pk graph.id %}" title="{{graph.title}}">
                                                    {{ graph.title }}
                                                </a>
                                            </h4>
                                            <p>{{ graph.summary }}</p>
                                            {% if i_am_instructor %}
                                            {% if graph.is_published %}
                                            <span class="badge badge-pill badge-primary">Published</span>
                                            {% endif %}
                                            {% if graph.needs_submit %}
                                            <span class="badge badge-pill badge-secondary">LTI</span>
                                            {% endif %}
                                            {% endif %}
                                        </article>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                {% else %} {# Renders graphs when a specific topic is selected #}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% if graph_list %}
                        {% for graph in graph_list %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if i_am_instructor or graph.is_visible_to_students %}
                                    <div class="graph-listing-item">
                                        <h3>
                                            <a href="{% url 'cohort_graph_detail' object.pk graph.id %}" title="{{graph.title}}">
                                                {{ graph.title }}
                                            </a>
                                        </h3>
                                        <p>{{ graph.summary }}</p>
                                        {% if i_am_instructor %}
                                        {% if graph.is_published %}
                                        <span class="badge badge-pill badge-primary">Published</span>
                                        {% endif %}
                                        {% if graph.needs_submit %}
                                        <span class="badge badge-pill badge-secondary">LTI</span>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                        {% endfor %}
                    {% else %}
                        <p>There are no graphs in this topic.</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <side class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            {% if i_am_instructor %}
                <div class="form-group">
                    <a class="btn btn-secondary btn-sm btn-block"
                       href="{% url 'cohort_edit' object.pk %}"
                       role="button">Edit Course</a>

                    <a class="btn btn-secondary btn-sm btn-block"
                       href="{% url 'cohort_clone' object.pk %}"
                       role="button">Clone Course</a>

                    <a class="btn btn-secondary btn-sm btn-block"
                       href="{% url 'featuredgraph_list' object.pk %}"
                       role="button">Manage Featured Graphs</a>

                    <a class="btn btn-secondary btn-sm btn-block"
                       href="{% url 'topic_list' object.pk %}"
                       role="button">Manage Topics</a>
                </div>
            {% endif %}

            <ul class="list-group">
                <li class="list-group-item {% if featured %}active{% endif %}">
                    <a href="{% url 'cohort_detail' object.pk %}">
                        Featured Graphs
                        <span class="badge badge-secondary float-right" tabindex="-1">
                            {{ featured_count }}
                        </span>
                    </a>
                </li>
                <li class="list-group-item {% if not featured and not active_topic %}active{% endif %}">
                    <a href="{% url 'cohort_detail' object.pk %}?all=true">
                        All Graphs
                        <span class="badge badge-secondary float-right">
                            {{ all_count }}
                        </span>
                    </a>
                </li>
            </ul>

            <h2>Topics</h2>
            <ul class="list-group">
                {% for topic in topic_list %}
                {% if i_am_instructor %}
                <li class="list-group-item {% if active_topic == topic.id %}active{% endif %}">
                    <a href="?topic={{ topic.id }}">
                        {{ topic.name }}
                        <span class="badge badge-secondary float-right">
                            {{ topic.graph_count }}
                        </span>
                    </a>
                </li>
                {% elif topic.published_graph_count > 0 %}
                <li class="list-group-item {% if active_topic == topic.id %}active{% endif %}">
                    <a href="?topic={{ topic.id }}">
                        {{ topic.name }}
                        <span class="badge badge-secondary float-right">
                            {{ topic.published_graph_count }}
                        </span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </side>
    </div>
{% endblock %}
