{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Password Required | {% endblock %}

{% block content %}
    <h1>Password Required</h1>
    <p>
        The instructor has set a password for this course.
    </p>
    <form class="form-group" method="post" action=".">{% csrf_token %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control"
                   placeholder="Password" id="cohort-password" name="password" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit"
                   value="Submit" />
        </div>
    </form>
{% endblock %}
