{% extends 'base.html' %}
{% load static econ_auth %}

{% block title %}Graph: {{object.title}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loaders.min.css' %}">
<link rel="stylesheet" href="{% static 'css/epjs.css' %}">
{% endblock %}

{% user_is_instructor request.user as i_am_instructor %}

{% block js %}
    <script>
    if (!window.EconPlayground) {
        window.EconPlayground = {};
    }

    {% if i_am_instructor %}
    window.EconPlayground['assessmentUrl'] = '{% url 'admin:main_assessment_change' object.assessment.pk %}';
    {% endif %}
    window.EconPlayground['LTIPostGrade'] = '{% url 'lti-post-grade' %}';
    </script>
    <script src="{% static 'econplayground.js/viewer.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
    {% if i_am_instructor %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_list' %}">
                    {% include 'main/your_cohorts_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_detail' cohort.pk %}">
                    {{ cohort.title|truncatewords:5 }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_graph_detail' cohort.pk object.pk %}">
                    {{ object.title|truncatewords:5 }}
                </a>
            </li>
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="root">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    {% if i_am_instructor %}
        <hr />

        <div class="form-group row">
            <label for="embed-code" class="col-sm-2 col-form-label">Graph embed:</label>
            <div class="col-sm-10">
                <input id="embed-code"
                       class="form-control form-control-sm monospace"
                       type="text"
                       onclick="this.select()"
                       value="{{embed_public_code}}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="embed-url" class="col-sm-2 col-form-label">Assignment embed:</label>
            <div class="col-sm-10">
                <input id="embed-url"
                       class="form-control form-control-sm monospace"
                       type="text"
                       onclick="this.select()"
                       value="{{embed_url}}" readonly>
            </div>
        </div>

    {% endif %}
{% endblock %}
