{% load static econ_auth %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graph: {{object.title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'css/embed.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% if debug %}
                    <small>Current user: {{request.user}}</small>
                {% endif %}
                <div id="root"></div>
                <script>
                if (!window.EconPlayground) {
                    window.EconPlayground = {};
                }

                {% user_is_instructor request.user as i_am_instructor %}
                {% if i_am_instructor %}
                window.EconPlayground['isStaff'] = true;
                window.EconPlayground['isInstructor'] = true;
                {% else %}
                window.EconPlayground['isStaff'] = false;
                window.EconPlayground['isInstructor'] = false;
                {% endif %}
                window.EconPlayground['LTIPostGrade'] = '{% url 'lti-post-grade' %}';
                window.EconPlayground['EmbedSuccess'] = '{% url 'graph_embed' object.pk %}?submitted=1';
                window.EconPlayground['EmbedLaunchUrl'] = '{% url 'graph_embed' object.pk %}?submitted=1';
                </script>
                <script src="{% static 'econplayground.js/viewer-a.js' %}"></script>
            </div>
        </div>
    </body>
</html>
