{% load static econ_auth %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graph: {{object.title}}</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/embed.css' %}" rel="stylesheet">
        <link href="{% static 'css/octicons.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/epjs.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="root"></div>
                <script>
                if (!window.EconPlayground) {
                    window.EconPlayground = {};
                }

                window.EconPlayground['isInstructor'] = false;
                window.EconPlayground['hideTitleAndInstructions'] = true;
                </script>
                <script src="{% static 'econplayground.js/viewer.js' %}"></script>
            </div>
        </div>
    </body>
</html>
