{% extends 'base.html' %}
{% load static econ_auth %}

{% block title %}Delete Graph: {{object.title}}{% endblock %}

{% block pagetitle %}<h1 class="mt-4">Delete Graph</h1>{% endblock %}

{% block content %}
    <p>
        Removing <strong>{{object.title}}</strong>  &mdash; Are you sure?
    </p>
    <div class="row">
        <form id="delete-graph" action="." method="post">{% csrf_token %}
            <div class="mb-1 mr-3 pr-0">
                <button class="btn btn-danger" type="submit"
                    form="delete-graph">Yes, delete this graph</button>
            </div>
        </form>
        <form id="cancel" action="{% url 'cohort_graph_detail' cohort.pk graph.pk %}">
            <div class="mb-1 mr-3 pr-0">
                <button class="btn btn-secondary" type="submit"
                    form="cancel">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}