{% extends 'base.html' %}
{% load static econ_auth %}

{% block content %}
    <div id="graph-listing" class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h1>Explore Graphs</h1>
            <p class="lead text-secondary">Browse and experience our collection of graphs.</p>
            {% if featured %}
            <h2>Featured Graphs</h2>
            {% elif not active_topic %}
            <h2>All Graphs</h2>
            {% else %}
                {% for topic in topic_list %}
                {% if topic.id == active_topic %}<h2>{{ topic.name }}</h2>{% endif %}
                {% endfor %}
            {% endif %}
            <div class="row">
                {% if featured %} {# Renders the featured graphs #}
                <div class="card-deck">
                    {% for graph in graph_list %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-inner-container">
                                <h5 class="card-title">
                                    <a href="{% url 'graph_detail' graph.id %}">{{ graph.title }}</a>
                                </h5>
                                {% if graph.summary %}
                                <p class="card-text">{{ graph.summary }}</p>
                                {% endif %}
                            </div>
                            <div class="card-inner-container topic-tag">
                                <a href="?topic={{ graph.topic }}">{{ graph.topic }}</a>
                            </div>
                        </div>
                        {% if i_am_instructor %}
                        {% if graph.is_published or graph.needs_submit %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if graph.is_published %}
                                    <span class="badge badge-pill badge-primary">Published</span>
                                {% endif %}
                                {% if graph.needs_submit %}
                                    <span class="badge badge-pill badge-secondary">LTI</span>
                                {% endif %}
                            </li>
                        </ul>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% empty %}
                    No graphs here.
                    {% endfor %}
                </div>
                {% elif not active_topic %} {# Renders all graphs #}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for topic in topic_list %}
                        {# Then render those with a topic #}
                        {% if topic.graph_set.all %}
                            <h3>{{ topic.name }}</h3>
                            {% for graph in topic.graph_set.all %}
                                {% if i_am_instructor or graph.is_visible_to_students %}
                                <div class="graph-listing-item">
                                    <h5><a href="{% url 'graph_detail' graph.id %}">{{ graph.title }}</a></h5>
                                    <p>{{ graph.summary }}</p>
                                    {% if i_am_instructor %}
                                    {% if graph.is_published %}
                                    <span class="badge badge-pill badge-primary">Published</span>
                                    {% endif %}
                                    {% if graph.needs_submit %}
                                    <span class="badge badge-pill badge-secondary">LTI</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %} {# Renders graphs when a specific topic is selected #}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% if graph_list %}
                        {% for graph in graph_list %}
                            {% if i_am_instructor or graph.is_visible_to_students %}
                                <div class="graph-listing-item">
                                    <h5><a href="{% url 'graph_detail' graph.id %}">{{ graph.title }}</a></h5>
                                    <p>{{ graph.summary }}</p>
                                    {% if i_am_instructor %}
                                    {% if graph.is_published %}
                                    <span class="badge badge-pill badge-primary">Published</span>
                                    {% endif %}
                                    {% if graph.needs_submit %}
                                    <span class="badge badge-pill badge-secondary">LTI</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>There are no graphs in this topic.</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item {% if featured %}active{% endif %}">
                    <a href="/">Featured Graphs</a>
                    <span class="badge badge-secondary float-right">
                        {{ featured_count }}
                    </span>
                </li>
                <li class="list-group-item {% if not featured and not active_topic %}active{% endif %}">
                    <a href="?all=true">All Graphs</a>
                    <span class="badge badge-secondary float-right">
                        {{ all_count }}
                    </span>
                </li>
            </ul>
            {% if i_am_instructor %}
            <small class="form-text text-muted"><a href="/admin/main/featuredgraph/" target="_blank">Manage featured graphs</a></small>
            <small class="form-text text-muted"><a href="/admin/main/topic/" target="_blank">Manage topics</a></small>
            {% endif %}
            <h2>Topics</h2>
            <ul class="list-group">
                {% for topic in topic_list %}
                {% if i_am_instructor %}
                <li class="list-group-item {% if active_topic == topic.id %}active{% endif %}">
                    <a href="?topic={{ topic.id }}">{{ topic.name }}</a>
                    <span class="badge badge-secondary float-right">
                        {{ topic.graph_count }}
                    </span>
                </li>
                {% elif topic.published_graph_count > 0 %}
                <li class="list-group-item {% if active_topic == topic.id %}active{% endif %}">
                    <a href="?topic={{ topic.id }}">{{ topic.name }}</a>
                    <span class="badge badge-secondary float-right">
                        {{ topic.published_graph_count }}
                    </span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
