{% extends 'base.html' %}
{% load static %}

{% block title %}Graph: {{object.title}}{% endblock %}

{% block js %}
    <script>
    if (!window.EconPlayground) {
        window.EconPlayground = {};
    }

    window.EconPlayground['LTIPostGrade'] = '{% url 'lti-post-grade' %}';
    </script>
    <script src="{% static 'econplayground.js/viewer.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>
        Graph Viewer
        {% if request.user.is_staff %}
            (edit mode)
        {% endif %}
    </h1>

    <div id="root"></div>

    {% if request.user.is_staff %}
        <a role="button" class="btn btn-danger btn-sm float-md-right"
           href="{% url 'graph_delete' object.pk %}">Delete Graph</a>

        <div class="clearfix"></div>

        <hr />

        <div>
            <form id="asset-embed-form" action="." method="post">{% csrf_token %}
                <input type="hidden" name="return_url"
                       value="https://courseworks2.columbia.edu/courses/54465/external_content/success/external_tool_dialog">
                <button type="submit" class="btn btn-primary btn-sm">Embed</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
