{% load static econ_auth %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graph: {{object.title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'css/embed.css' %}" rel="stylesheet">
        <link href="{% static 'css/octicons.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/epjs.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="root"></div>
                <script>
                if (!window.EconPlayground) {
                    window.EconPlayground = {};
                }

                window.EconPlayground['isInstructor'] = false;
                window.EconPlayground['hideTitleAndDescription'] = true;
                </script>
                <script src="{% static 'econplayground.js/viewer-b.js' %}"></script>
            </div>
        </div>
    </body>
</html>
