{% extends 'base.html' %}
{% load static econ_auth %}

{% block title %}Delete Graph: {{object.title}} | {% endblock %}

{% block pagetitle %}Delete Graph{% endblock %}

{% block content %}
    <p>
        Removing <strong>{{object.title}}</strong>  &mdash; Are you sure?
    </p>
    <form action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="mb-1 mr-3 pr-0">
                <input class="btn btn-danger" type="submit"
                    value="Yes, delete this graph">
            </div>
            <div class="mb-1 mr-3 pr-0">
                <a class="btn btn-block btn-secondary"
                    href="{% url 'cohort_graph_detail' cohort.pk graph.pk %}">
                    Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock %}