{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Graph: {{object.title}}</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/embed.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/epjs.css' %}">
        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% if debug %}
                    <small>Current user: {{request.user}}</small>
                {% endif %}
                <p class="accessibility-note">
                    This is an interactive line graph. Please ask your instructor
                    for an alternative format for this exercise if necessary.
                </p>
                <div id="root"></div>
                <script>
                if (!window.EconPlayground) {
                    window.EconPlayground = {};
                }

                window.EconPlayground['isInstructor'] = false;
                window.EconPlayground['LTIPostGrade'] = '{% url 'lti-post-grade' %}';
                window.EconPlayground['EmbedSuccess'] = '{% url 'graph_embed' object.pk %}?submitted=1';
                window.EconPlayground['EmbedLaunchUrl'] = '{% url 'graph_embed' object.pk %}?submitted=1';
                </script>
                <script src="{% static 'js/build/viewer.js' %}"></script>
            </div>
        </div>
    </body>
</html>
