{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loaders.min.css' %}">
<link rel="stylesheet" href="{% static 'css/epjs.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'econplayground.js/editor.js' %}"></script>
{% endblock %}

{% block title %}Create Graph{% endblock %}

{% block content %}
    <div id="root">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% endblock %}
