{% extends 'base.html' %}
{% load static econ_auth markup %}

{% block title %}Question Banks{% endblock %}

{% block pagetitle %}<h1 class="mt-4">Question Banks</h1>{% endblock %}

{% block content %}
    <a class="btn btn-primary mb-2"
       role="button"
       title="Create Question Bank"
       href="{% url 'question_bank_create' %}"
    >
        Create Question Bank
    </a>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="form featuredgraphs-form">
                <ul class="list-group featuredgraphs-list">
                    <strong class="list-group-item d-flex flex-row text-white bg-dark align-items-center">
                        <div class=" mr-auto">
                            Title
                        </div>
                        <div class="col-4">
                            Assignment
                        </div>
                        <div class="col-3">
                            Updated At
                        </div>
                        Remove
                    </strong>
                    {% for question_bank in question_bank_list %}
                        <li class="list-group-item d-flex flex-row align-items-center">
                            <a class="graph-title mr-auto"
                               href="{% url 'question_bank_detail' question_bank.pk %}"
                               title="{{question_bank.title}}"
                            >
                                {{question_bank.title}}
                            </a>
                            <a class="col-4"
                               href="{% url 'assignment_detail' question_bank.assignment.pk %}"
                               title="{{question_bank.assignment.title}}"
                            >
                                {{question_bank.assignment.title}}
                            </a>
                            <div class="col-3">
                                {{question_bank.updated_at}}
                            </div>
                            <a role="button"
                               class="btn btn-sm btn-danger mr-1"
                               title="Delete {{question_bank.title}}, Question Bank"
                               href="{% url 'question_bank_delete' question_bank.pk %}?remove=true"
                            >
                                <svg height="32" 
                                     class="octicon octicon-x" 
                                     viewBox="0 0 12 16" 
                                     version="1.1" 
                                     width="24" 
                                     aria-hidden="true"
                                >
                                    <path fill-rule="evenodd" 
                                          d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
                                </svg>
                            </a>
                        </li>
                    {% empty %}
                        Question Banks you make can be found here.
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
