{% extends 'base.html' %}
{% load static econ_auth markup %}

{% block title %}Questions{% endblock %}

{% block pagetitle %}<h1 class="mt-4">Questions</h1>{% endblock %}

{% block content %}
    {% url 'question_create' as the_url %}
    <a class="btn btn-primary mb-2"
       role="button"
       title="Create Question"
       href="{% url 'question_create' %}"
    >
        Create Question
    </a>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group featuredgraphs-list">
                <strong class="list-group-item d-flex flex-row text-white bg-dark align-items-center">
                    <div class=" mr-auto">
                        Title
                    </div>
                    <div class="col-3">
                        Keywords
                    </div>
                    <div class="col-5">
                        Associated Assignments
                    </div>
                    Remove
                </strong>
                {% for question in question_list %}
                    <li class="list-group-item d-flex flex-row align-items-center">
                        <div class="graph-title mr-auto">
                            <a href="{% url 'question_detail' question.pk %}" title="{{question.title}}">
                                {{question.title}}
                            </a>
                        </div>
                        <div class="col-3">
                            {% with question.parse_keywords as keywords %}
                            {% for keyword in keywords %}
                                {{keyword}}{% if not forloop.last %} /{% endif %}
                            {% empty %}
                                <em class="text-secondary text-center">--No Keywords--</em>
                            {% endfor %}{% endwith %}
                        </div>
                        <div class="col-5">
                            {% for assignment in question.generate_tags %}
                            <a href="{% url 'assignment_detail' assignment.pk %}" title="{{assignment.title}}">
                                {{assignment.title}}
                            </a>{% if not forloop.last %} / {% endif %}
                            {% empty %}
                                <em class="text-secondary text-center">--No Associated Assignments--</em>
                            {% endfor %}
                        </div>
                        <a role="button"
                            class="btn btn-sm btn-danger mr-1"
                            title="Remove {{question.title}} from the Question Bank"
                            href="{% url 'question_delete' question.pk %}?remove=true"
                        >
                            <svg height="24" 
                                 class="octicon octicon-x" 
                                 viewBox="0 0 12 16" 
                                 version="1.1" 
                                 width="20" 
                                 aria-hidden="true"
                            >
                                <path fill-rule="evenodd" 
                                        d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
                            </svg>
                        </a>
                    </li>
                {% empty %}
                    Questions you make can be found here.
                {% endfor %}
            </ul>
    </div>
{% endblock %}
