{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loaders.min.css' %}">
<link rel="stylesheet" href="{% static 'css/epjs.css' %}">
{% endblock %}

{% block extrahead %}
<meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block js %}
    <script src="{% static 's3sign/js/s3upload.js' %}"></script>
    <script src="{% static 'js/build/question.js' %}"></script>
{% endblock %}

{% block title %}Create Question{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'question_list' %}" title="Question List">
                    {% include 'main/your_questions_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">Create Question</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div id="root">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% endblock %}
