{% extends 'base.html' %}

{% block title %}Delete Topic{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_list' %}">
                    {% include 'main/your_cohorts_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_detail' cohort.pk %}">
                    {{ cohort.title|truncatewords:5 }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'topic_list' cohort.pk %}">
                    Manage Topics
                </a>
            </li>
            <li class="breadcrumb-item">Delete Topic</li>
        </ol>
    </nav>
{% endblock %}

{% block pagetitle %}
    <h1 class="mt-4">Delete Topic</h1>
{% endblock %}

{% block content %}
    {% if not readonly %}
        <p>
            Are you sure you want to delete the
            <strong>{{object.name}}</strong> topic?
        </p>
        {% if object.graph_count > 0 %}
            <p>
                The following graphs will be moved to the
                <strong>General</strong> topic:
            </p>
            <ul>
                {% for graph in object.get_graphs %}
                    <li>
                        <a href="{% url 'cohort_graph_detail' cohort.pk graph.pk %}">
                            {{graph.title}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    <form action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-2 mb-1 pr-0">
                <button type="submit" class="btn btn-block btn-primary">Delete</button>
            </div>
            <div class="col-md-2 mb-1 pr-0">
                <a class="btn btn-block btn-secondary"
                   href="{% url 'topic_list' cohort.pk %}">
                    Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock %}
