{% extends 'base.html' %}
{% load static bootstrap4 econ_auth %}

{% block title %}
    {% if object %}
        Update Topic
    {% else %}
        Create Topic
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if i_am_instructor %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_list' %}" title="Course List">
                    {% include 'main/your_cohorts_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_detail' cohort.pk %}" title="{{cohort.title}}">
                    {{ cohort.title|truncatewords:5 }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'topic_list' cohort.pk %}" title="Manage Topics">
                    Manage Topics
                </a>
            </li>
            <li class="breadcrumb-item">
                {% if object %}
                    Update Topic
                {% else %}
                    Create Topic
                {% endif %}
            </li>
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block pagetitle %}
<h1 class="mt-4">
    {% if object %}
        Update Topic
    {% else %}
        Create Topic
    {% endif %}
</h1>
{% endblock %}

{% block content %}
    <form action="." method="post">{% csrf_token %}
        {% bootstrap_field form.name %}

        <input type="hidden" name="cohort" value="{{cohort.pk}}" />

        <div class="row">
            <div class="col-md-2 mb-1 pr-0">
                <button type="submit" class="btn btn-block btn-primary">
                    {% if object %}
                        Save
                    {% else %}
                        Create
                    {% endif %}
                </button>
            </div>

            <div class="col-md-2 mb-1 pr-0">
                <a class="btn btn-block btn-secondary" href="{% url 'topic_list' cohort.pk %}">
                    Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock %}
