{% extends 'base.html' %}
{% load static econ_auth %}

{% block title %}Manage Topics{% endblock %}

{% block breadcrumb %}
    {% if i_am_instructor %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_list' %}">
                    {% include 'main/your_cohorts_snippet.html' %}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cohort_detail' cohort.pk %}">
                    {{ cohort.title|truncatewords:5 }}
                </a>
            </li>
            <li class="breadcrumb-item">
                Manage Topics
            </li>
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="cohort-listing" class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h1>
                Manage Topics: {{ cohort.title|truncatewords:5 }}
            </h1>

            <form class="form topics-form">
                <a class="btn btn-primary mb-2"
                   href="{% url 'topic_create' cohort.pk %}" role="button">
                    <svg height="32" class="octicon octicon-plus" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"></path></svg>
                    Create Topic
                </a>

                <ul class="list-group topics-list">
                    {% for topic in object_list %}
                        <li class="list-group-item d-flex flex-row  align-items-center">
                            <div class="topic-title mr-1">
                                {% if topic.name == 'General' %}
                                    <strong>{{topic.name}}</strong>
                                {% else %}
                                    <a href="{% url 'topic_edit' cohort.pk topic.pk %}">{{topic.name}}</a>
                                {% endif %}
                            </div>

                            <span class="badge badge-primary badge-pill mr-auto">
                                {{topic.graph_count}} graph{{topic.graph_count|pluralize}}
                            </span>

                            <a href="/admin/main/topic/{{topic.pk}}/move-up/"
                               role="button"
                               class="btn btn-sm btn-secondary mr-1">
                                <svg height="32" class="octicon octicon-arrow-up" viewBox="0 0 10 16" version="1.1" width="20" aria-hidden="true"><path fill-rule="evenodd" d="M5 3L0 9h3v4h4V9h3L5 3z"></path></svg>
                            </a>
                            <a href="/admin/main/topic/{{topic.pk}}/move-down/"
                               role="button"
                               class="btn btn-sm btn-secondary mr-1">
                                <svg height="32" class="octicon octicon-arrow-down" viewBox="0 0 10 16" version="1.1" width="20" aria-hidden="true"><path fill-rule="evenodd" d="M7 7V3H3v4H0l5 6 5-6H7z"></path></svg>
                            </a>

                            {% if topic.name != 'General' %}
                                <a role="button"
                                   class="btn btn-sm btn-secondary mr-1"
                                   title="Edit"
                                   href="{% url 'topic_edit' cohort.pk topic.pk %}">
                                    <svg height="32" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path></svg>
                                </a>
                                <a role="button"
                                   class="btn btn-sm btn-danger mr-1"
                                   title="Delete"
                                   href="{% url 'topic_delete' cohort.pk topic.pk %}">
                                    <svg height="32" class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </form>
        </div>
    </div>
{% endblock %}
