.assignment-empty-step,
.assignment-step {
    padding: 5px;
    border: dashed 1px black;
    margin: 5px;
}

.assignment-empty-step {
    background-color: hsl(192, 100%, 50%);
}

.assignment-step {
    background-color: cyan;
}
