.assignment-empty-step,
.assignment-step {
    padding: 0.5rem;
    border: solid 1px #bbb;
    border-radius: 0.25rem;
    margin: 5px;
}

.assignment-empty-step {
    background-color: white;
}

.assignment-step {
    background-color: #e9ecef;
}
