.assignment-grid button,
.assignment-grid .form-control {
    font-size: 1rem;
}

.assignment-empty-step,
.assignment-step {
    padding: 5px;
    border: dashed 1px black;
    margin: 5px;
}

.assignment-empty-step {
    background-color: hsl(192, 100%, 50%);
}

.assignment-step {
    background-color: cyan;
}

.assignment-subpath {

}
