#cohort-listing {
    .card {
        cursor: pointer;

        // https://getbootstrap.com/docs/4.3/components/card/#card-columns
        display: inline-block;

        .card-body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            h2 {
                margin-top: 0;
            }
        }
    }
}
