footer {
    margin: 3em 0em 3em 0em;
    font-size: 1.2rem;
}

.base-footer {
    margin: 50px -15px 0px -15px;
    line-height: 30px;
    background-color: #f5f5f5;
    position: relative;
    font-size: $font-general;
    padding: 10px;
}

.base-footer.site {
    margin-top: 1em;
    margin-bottom: 1em;
}

.base-footer .footer-navigation {
    margin: 5px 0;
    padding: 0;
    color: black;
    text-align: center;
    list-style: none;
}

.base-footer .footer-navigation li {
    display: inline-block;
    padding: 0 10px;
}

.base-footer .footer-logos {
    text-align: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.base-footer .footer-logos li {
    display: inline-block;
    padding: 10px;

    a {
        padding: 0.2rem;
        display: inline-block;
    }
}

.base-footer .footer-logos img {
    height: 50px;
}

.base-footer .footer-right a {
    padding-left: 1em;
}

.loader-inner.ball-pulse {
    margin-top: 3em;
    text-align: center;
}

.loader-inner.ball-pulse>div {
    background-color: #1e429b;
}