#graph-listing,
.GraphSelect {
    li.active a {
        color: white;
    }

    h3 {
        border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
        margin-bottom: 1rem;
    }

    .graph-listing-item {
        margin-bottom: 1rem;

        h5 {
            text-transformation: allcaps;
        }

        p {
            margin-bottom: 0px;
        }
    }

    .topic-tag {
        margin-top: 1em;
    }
}
