#graph-listing,
.GraphPicker {
    .card-deck {
        width: 100%;
    }

    .card {
        max-width: calc(48% - 15px);
        min-width: calc(48% - 15px);
        margin-bottom: 2rem;

        .card-body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }
    }

    li.active a {
        color: white;
    }

    h3 {
        border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
        margin-bottom: 1rem;
    }

    .graph-listing-item {
        margin-bottom: 2.5rem;

        h5 {
            text-transformation: allcaps;
        }

        p {
            margin-bottom: 0px;
        }
    }

    .topic-tag {
        margin-top: 1em;
    }
}