nav.navbar {
    background-color: $blue;

    &.hp-nav {
        background-color: transparent;
    }
}

nav.navbar-dark .navbar-nav .nav-link {
    color: white;

    span {
        color: white;
    }
}

header {
    margin-bottom: 2em;
}