nav.navbar {
    background-color: $blue;

    &.hp-nav {
        background-color: transparent;
    }
}

nav.navbar-dark .navbar-nav .nav-link {
    color: #73a9db;
}

header {
    margin-bottom: 3em;
}
