{% load compress static econ_auth %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>EconPractice: {% block title %}{% endblock %}</title>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EconPractice is an environment for authoring and interacting with economics concepts.">
    <meta name="keywords" content="teaching, learning, education, economics, graphs" />
    <meta name="author" content="Columbia University Center for Teaching & Learning">

    <meta name="DC.Title" content="EconPractice" />
    <meta name="DC.Description" content="EconPractice" />

    <!-- meta property="og:image" content="https://econpractice.ctl.columbia.edu/img/og-image.png" /-->

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://econpractice.ctl.columbia.edu/",
        "name": "EconPractice",
        "about": "EconPractice is an environment for authoring and interacting with economics concepts.",
        "keywords": "teaching, learning, education, economics, graphs"
    }
    </script>

    <link rel="canonical" href="https://econpractice.ctl.columbia.edu/" />

    <!-- Favicons
    <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
    -->

    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png">
    <link rel="icon" href="{{STATIC_URL}}img/favicon.png">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/x-icon" />

    {% compress css %}
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/octicons.css" rel="stylesheet">
    {% endcompress %}
    <link href="{% static 'css/epjs.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <script>
        var STATIC_URL = '{{STATIC_URL}}';
    </script>

    <script src="{{STATIC_URL}}js/lib/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

{% user_is_instructor request.user as i_am_instructor %}
<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
    {% block content-container %}
    <main role="main" class="container content-container">
        {% block navbar %}
            <header>
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'img/logo-econpractice.svg' %}" width="200" height="39.78" alt="project logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-controls="navbarCollapse"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            {% if i_am_instructor and cohort %}
                                <li class="nav-item">
                                    {% url 'cohort_graph_create' cohort.pk as the_url %}
                                    <a class="nav-link {% if request.path == the_url %}active{% endif %}"
                                       href="{{the_url}}"
                                    >Create Graph</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/help/">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about/">About</a>
                            </li>
                            <li class="nav-item">
                                {% if request.user.is_anonymous %}
                                    <a class="nav-link" href="/accounts/login/?next=/"><span title="Log In">Log In</span></a>
                                {% else %}
                                    <a class="nav-link" href="/accounts/logout/?next=/"><span title="Log Out">
                                        {% if user.first_name %}
                                            {{user.first_name}}
                                        {% else %}
                                            {{user.username}}
                                        {% endif %}
                                        | Log Out</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </nav>

            {% block breadcrumb %}{% endblock %}
        </header>
        {% endblock %}

        <!-- Begin page content -->
        {% for message in messages %}
        <div class="messages alert alert-primary {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
        </div>
        {% endfor %}

        {% block content %}
        {% endblock %}

        <footer class="base-footer">
            <ul class="footer-navigation">
                <li class="float-left">
                    Built by <a href="https://sipa.columbia.edu/faculty-research/faculty-directory/thomas-groll"
                                title="Thomas Groll's site">
                    Thomas Groll
                    </a> and the <a href="https://ctl.columbia.edu" title="Columbia University Center for Teaching and Learning">CTL</a>.
                </li>
                <li><a href="/credits/" title="Credits">Credits</a></li>
                <li><a href="/contact/" title="Contact">Contact</a></li>
            </ul>
            <div class="clearfix"></div>
            <ul class="footer-logos" role="presentation">
                <li itemscope="" itemtype="http://schema.org/EducationalOrganization">
                    <a href="https://sipa.columbia.edu/" target="_blank" itemprop="url" title="School of International and Public Affairs">
                        <img src="{% static 'img/logo-sipa.png' %}" alt="" itemprop="logo">
                        <span class="sr-only" itemprop="name">School of International and Public Affairs</span>
                    </a>
                </li>
                <li itemscope="" itemtype="http://schema.org/EducationalOrganization">
                    <a href="https://ctl.columbia.edu" title="Columbia University Center for Teaching and Learning"
                       target="_blank" itemprop="url">
                        <img src="{% static 'img/logo-ctl.png' %}" alt="" itemprop="logo">
                        <span class="sr-only" itemprop="name">Center for Teaching and Learning at Columbia University</span>
                    </a>
                </li>
            </ul>

        </footer>
    </main>
    {% endblock %}

    <script>
        var EconPlayground = {
            {% if not request.user.is_anonymous %}
            'user': {{ request.user.id }},
            {% if i_am_instructor %}
                'isInstructor': true,
                'isStaff': true
            {% else %}
                'isInstructor': false,
                'isStaff': false
            {% endif %}
            {% endif %}
        };
    </script>

    {% if SENTRY_DSN %}
    <script src="https://browser.sentry-cdn.com/5.6.1/bundle.min.js" integrity="sha384-pGTFmbQfua2KiaV2+ZLlfowPdd5VMT2xU4zCBcuJr7TVQozMO+I1FmPuVHY3u8KB" crossorigin="anonymous"></script>
    <script>
    Sentry.init({dsn: '{{SENTRY_DSN}}'});

    {% if request.user.is_anonymous %}
    Sentry.setUser({
        email: 'none',
        id: 'anonymous'
    });
    {% else %}
    Sentry.setUser({
        email: '{{ user.email }}',
        id: '{{ user.username }}'
    });
    {% endif %}
    </script>
    {% endif %}

    {% block js %}{% endblock %}

    {% if STAGING_ENV %}
        <div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
        </div>
    {% endif %}

    {% if GA_CODE %}
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{GA_CODE}}', 'columbia.edu');
          ga('set', 'anonymizeIp', true);
          ga('send', 'pageview');
        </script>
    {% endif %}
</body>
</html>
