{% load static econ_auth django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | EconPractice</title>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EconPractice is an environment for authoring and interacting with economics concepts.">
    <meta name="keywords" content="teaching, learning, education, economics, graphs" />
    <meta name="author" content="Columbia University Center for Teaching & Learning">

    <meta name="DC.Title" content="EconPractice" />
    <meta name="DC.Description" content="EconPractice" />

    <!-- meta property="og:image" content="https://econpractice.ctl.columbia.edu/img/og-image.png" /-->

    {% include "ctlsettings/sentry_js.html" %}

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://econpractice.ctl.columbia.edu/",
        "name": "EconPractice",
        "about": "EconPractice is an environment for authoring and interacting with economics concepts.",
        "keywords": "teaching, learning, education, economics, graphs"
    }
    </script>

    <link rel="canonical" href="https://econpractice.ctl.columbia.edu/" />

    <!-- Favicons
    <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
    -->

    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png">
    <link rel="icon" href="{{STATIC_URL}}img/favicon.png">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/x-icon" />

    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/octicons.css" rel="stylesheet">
    <link href="{% static 'css/econplayground.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    {% block extrahead %}{% endblock %}

    <script>
        var STATIC_URL = '{{STATIC_URL}}';
    </script>

    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
￼
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
          integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
          crossorigin="anonymous">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

{% user_is_instructor request.user as i_am_instructor %}
<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
    <aside id="skip">
        <a href="#maincontent">Skip to main content</a>
    </aside>

    {% block content-container %}
    <div class="d-flex">
        {% include "sidebar.html" %}

        <div class="container content-container">
            {% block navbar %}
            <header>
                {% block breadcrumb %}{% endblock %}
                {% block pagetitle %}{% endblock %}
            </header>
            {% endblock %}

            <!-- Begin page content -->
            {% for message in messages %}
            {% bootstrap_alert message.message|safe alert_type=message|bootstrap_message_alert_type extra_classes=message.extra_tags %}
            {% endfor %}

            <main role="main" id="maincontent">
                {% block content %}
                {% endblock %}
            </main>

            <footer class="row vstack mb-4">
                <ul class="nav col-auto mx-auto mt-4">
                    <li class="nav-item">
                        <a href="/contact/" title="Contact" class="nav-link text-body-secondary">
                            Contact</a></li>
                    <li class="nav-item">
                        <a href="/credits/" title="Credits" class="nav-link text-body-secondary">
                            Credits</a></li>
                </ul>

                <p class="col-auto mx-auto mt-4 text-body-secondary">
                    Built by <a href="https://www.sipa.columbia.edu/communities-connections/faculty/thomas-groll"
                                title="Thomas Groll's site">Thomas Groll</a>
                    and the <a href="https://ctl.columbia.edu"
                               title="Columbia University Center for Teaching and Learning">
                        Columbia Center for Teaching and Learning</a>.</p>

                <div class="col-auto mx-auto mt-2">
                    <a class="icon-link" href="https://sipa.columbia.edu/"
                       target="_blank" itemprop="url"
                       title="School of International and Public Affairs">
                        <img height="35" src="{% static 'img/logo-sipa.png' %}" alt="SIPA logo" itemprop="logo" />
                        <span class="visually-hidden" itemprop="name">School of International and Public Affairs</span>
                    </a>
                    <a class="icon-link ms-4" href="https://ctl.columbia.edu"
                       title="Columbia University Center for Teaching and Learning"
                       target="_blank" itemprop="url">
                        <img height="35" src="{% static 'img/logo-ctl.png' %}" alt="CTL logo" itemprop="logo" />
                        <span class="visually-hidden" itemprop="name">Center for Teaching and Learning at Columbia University</span>
                    </a>
                </div>
            </footer>
        </div><!-- end .content-container -->
    </div>
    {% endblock %}

    <script>
        var EconPlayground = {
            {% if not request.user.is_anonymous %}
            'user': {{ request.user.id }},
            {% if i_am_instructor %}
                'isInstructor': true,
                'isStaff': true
            {% else %}
                'isInstructor': false,
                'isStaff': false
            {% endif %}
            {% endif %}
        };
    </script>

    {% block js %}{% endblock %}

    {% if STAGING_ENV %}
        <div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
        </div>
    {% endif %}

    {% if GA_CODE %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{GA_CODE}}', { 'anonymize_ip': true });
        </script>
    {% endif %}
</body>
</html>
