// To override Bootstrap's color values, you have to declare them
// before Bootstrap does.
@import 'base/color-variables';

// The line below includes Bootstrap source scss files, which are built
// with tooling in the Makefile. If this needs to be updated the directory
// named 'bootstrap-4.0.0-beta.3' is equivalent to 'bootstrap-4.0.0-beta.3/scss'
// (or whatever future version of Bootstrap that you're using) from the root
// directory of the repo: https://github.com/twbs/bootstrap
// If you update Bootstrap be sure to remember to update the JS loaded from
// Bootstrap's CDN.
@import 'bootstrap-5.3.8/bootstrap';

@import 'base/base';
@import 'base/font';
@import 'layouts/nav';
@import 'layouts/graphwidget';
@import 'layouts/graph-listing';
@import 'layouts/assignment';

.loader-inner.ball-pulse {
    margin-top: 3em;
    text-align: center;
}

.loader-inner.ball-pulse>div {
    background-color: #1e429b;
}
