<div class="container mt-2">
  <div class="row">
      <div class="col-3">
          <div class="mb-3">
              <select class="form-select ep-question-select"
                      aria-label="Select question" role="tablist">
                      <option
                          value="0"
                          data-bs-toggle="tab"
                          role="tab"
                          data-bs-target="#question-0">
                          --
                      </option>
                  {% for question in questions %}
                      <option
                          value="{{question.pk}}"
                          data-bs-toggle="tab"
                          role="tab"
                          data-bs-target="#question-{{question.pk}}">
                          {{question.title}}
                      </option>
                  {% endfor %}
              </select>
          </div>

          <div class="mb-3">
              <form method="post"
                    action="{% url 'assignment_question_create' object.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                      <i class="bi bi-plus-lg"></i> Add question
                  </button>
              </form>
          </div>
      </div>
      <div class="col">
          <div class="tab-content" id="question-tabContent">
              {% for question in questions %}
                  <div class="tab-pane fade" id="question-{{question.pk}}"
                       role="tabpanel"
                       aria-labelledby="question-{{question.pk}}-tab" tabindex="0">
                      <h4>Question {{question.pk}}</h4>
                      <form method="post"
                            action="{% url 'assignment_question_edit' object.pk question.pk %}">
                          {% csrf_token %}

                          <div class="mb-3">
                              <label for="questionTitle-{{question.pk}}"
                                     class="form-label">
                                  Title
                              </label>
                              <input type="text" class="form-control"
                                     id="questionTitle-{{question.pk}}"
                                     name="title"
                                     value="{{question.title}}">
                          </div>
                          <div class="mb-3">
                              <label for="questionPrompt-{{question.pk}}"
                                     class="form-label">
                                  Prompt
                              </label>
                              <textarea class="form-control"
                                        name="prompt"
                                        id="questionPrompt-{{question.pk}}"
                              >{{question.prompt}}</textarea>
                          </div>

                          <div class="mb-3">
                              <label for="questionGraph-{{question.pk}}"
                                     class="form-label">
                                  Graph
                              </label>
                              <select class="form-select"
                                      name="graph"
                                      id="questionGraph-{{question.pk}}">
                                  {% for graph in graphs %}
                                      <option value="{{graph.pk}}">
                                          {{graph.title}}
                                      </option>
                                  {% endfor %}
                              </select>
                          </div>

                          <div class="mb-3">
                              <label for="questionAssessmentName-{{question.pk}}"
                                     class="form-label">
                                  Assessment type
                              </label>
                              <select class="form-select"
                                      name="assessment_name"
                                      id="questionAssessmentName-{{question.pk}}">
                                  <option>Line</option>
                                  <option>Line slope</option>
                                  <option>Label</option>
                                  <option>Parameter</option>
                              </select>
                          </div>

                          <div class="mb-3">
                              <label for="questionAssessmentValue-{{question.pk}}"
                                     class="form-label">
                                  Assessment value
                              </label>
                              <input type="text" class="form-control"
                                     name="assessment_value"
                                     id="questionAssessmentValue-{{question.pk}}"
                                     value="{{question.prompt}}">
                          </div>

                          <button type="submit" class="btn btn-primary">
                              Save
                          </button>
                          <a role="button"
                             class="btn btn-danger float-end"
                             href="{% url 'assignment_question_delete' object.pk question.pk %}">
                              Delete question
                          </a>
                      </form>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>

<script>
$(document).ready(function() {
    // Programmatic Bootstrap Tab functionality, adapted for the
    // <select> element.
    // https://getbootstrap.com/docs/5.3/components/navs-tabs/#javascript-behavior
    $('select.ep-question-select').on('change', function(e) {
        const questionId = Number(e.target.value);
        const triggerEl = e.target.querySelector(
            `option[data-bs-target="#question-${questionId}"]`)
        bootstrap.Tab.getOrCreateInstance(triggerEl).show();
    });
});
</script>
