{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
    <div class="float-end">
        <a class="btn btn-secondary display-inline"
           role="button"
           href="{% url 'assignment_assignment_edit' object.pk %}"
           title="Edit {{ object.title }}">
            Edit
        </a>
    </div>

    <h1>{{ object.title }}</h1>
{% endblock %}

{% block pagedescription %}

{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="assignment-tab"
                        data-bs-toggle="tab" data-bs-target="#assignment-tab-pane"
                        type="button" role="tab"
                        aria-controls="assignment-tab-pane" aria-selected="true">
                    Assignment
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="questions-tab"
                        data-bs-toggle="tab" data-bs-target="#questions-tab-pane"
                        type="button" role="tab"
                        aria-controls="questions-tab-pane" aria-selected="false">
                    Questions
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="assignment-tab-pane"
                 role="tabpanel" aria-labelledby="assignment-tab" tabindex="0">
                {% include 'assignment/assignment_step_layout.html' %}

                <hr />

                <p>{{ object.prompt }}</p>
            </div>
            <div class="tab-pane fade" id="questions-tab-pane"
                 role="tabpanel" aria-labelledby="questions-tab" tabindex="0">
                {% include 'assignment/assignment_questions.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            // https://getbootstrap.com/docs/5.3/components/navs-tabs/#via-javascript
            const triggerTabList = document.querySelectorAll('#myTab button')
            triggerTabList.forEach(triggerEl => {
                const tabTrigger = new bootstrap.Tab(triggerEl)

                triggerEl.addEventListener('click', event => {
                    event.preventDefault()
                    tabTrigger.show()
                })
            })
        });
    </script>
{% endblock %}
