<div class="container mt-2">
  <div class="row">
      <div class="col-3">
          <div class="mb-3">
              <select class="form-select ep-question-select"
                      aria-label="Select question" role="tablist">
                      <option
                          value="0"
                          data-bs-toggle="tab"
                          role="tab"
                          data-bs-target="#question-0">
                          --
                      </option>
                  {% for question in questions %}
                      <option
                          value="{{question.pk}}"
                          data-bs-toggle="tab"
                          role="tab"
                          data-bs-target="#question-{{question.pk}}">
                          {{question.title}}
                      </option>
                  {% endfor %}
              </select>
          </div>

          <div class="mb-3">
              <form method="post"
                    action="{% url 'assignment_question_create' object.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                      <i class="bi bi-plus-lg"></i> Add question
                  </button>
              </form>
          </div>
      </div>
      <div class="col">
          <div class="tab-content" id="question-tabContent">
              {% for question in questions %}
                  <div class="tab-pane fade" id="question-{{question.pk}}"
                       role="tabpanel"
                       aria-labelledby="question-{{question.pk}}-tab" tabindex="0">
                      <h4>Question {{question.pk}}</h4>
                      <form method="post"
                            action="{% url 'assignment_question_edit' object.pk question.pk %}">
                          {% csrf_token %}

                          <div class="mb-3">
                              <label for="questionTitle-{{question.pk}}"
                                     class="form-label">
                                  Title
                              </label>
                              <input type="text" class="form-control"
                                     id="questionTitle-{{question.pk}}"
                                     name="title"
                                     value="{{question.title}}" />
                          </div>
                          <div class="mb-3">
                              <label for="questionPrompt-{{question.pk}}"
                                     class="form-label">
                                  Prompt
                              </label>
                              <textarea class="form-control"
                                        name="prompt"
                                        id="questionPrompt-{{question.pk}}"
                              >{{question.prompt}}</textarea>
                          </div>

                          <div class="mb-3">
                              <label for="questionGraph-{{question.pk}}"
                                     class="form-label">
                                  Graph
                              </label>
                              <select class="form-select"
                                      name="graph"
                                      id="questionGraph-{{question.pk}}">
                                  {% for graph in graphs %}
                                      <option value="{{graph.pk}}">
                                          {{graph.title}}
                                      </option>
                                  {% endfor %}
                              </select>
                          </div>

                          <div class="mb-3">
                              <label for="questionAssessmentType-{{question.pk}}"
                                     class="form-label">
                                  Assessment type
                              </label>
                              <select class="form-select ep-question-assessment-type"
                                      name="assessment_type"
                                      id="questionAssessmentType-{{question.pk}}">
                                  <option>Select:</option>
                                  {% for assessment_type in assessment_types %}
                                      <option value="{{assessment_type.value}}">
                                          {{assessment_type.name}}
                                      </option>
                                  {% endfor %}
                              </select>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <label for="questionAssessmentName-{{question.pk}}"
                                         class="form-label">
                                      Assessment name
                                  </label>
                                  <select class="form-select ep-question-assessment-name"
                                          name="assessment_name"
                                          id="questionAssessmentName-{{question.pk}}">
                                  </select>
                              </div>

                              <div class="col">
                                  <label for="questionAssessmentValue-{{question.pk}}"
                                         class="form-label">
                                      Assessment value
                                  </label>
                                  <input type="text" class="form-control"
                                         name="assessment_value"
                                         id="questionAssessmentValue-{{question.pk}}"
                                         value="{{question.assessment_value}}" />
                              </div>
                          </div>

                          <div class="mb-3">
                              <label for="feedbackFulfilled-{{question.pk}}"
                                     class="form-label">
                                  Feedback (fulfilled)
                              </label>
                              <textarea class="form-control"
                                        name="feedback_fulfilled"
                                        id="feedbackFulfilled-{{question.pk}}"
                              >{{question.feedback_fulfilled}}</textarea>
                          </div>

                          <div class="mb-3">
                              <label for="feedbackUnfulfilled-{{question.pk}}"
                                     class="form-label">
                                  Feedback (unfulfilled)
                              </label>
                              <textarea class="form-control"
                                        name="feedback_unfulfilled"
                                        id="feedbackUnfulfilled-{{question.pk}}"
                              >{{question.feedback_unfulfilled}}</textarea>
                          </div>

                          <button type="submit" class="btn btn-primary">
                              Save
                          </button>
                          <a role="button"
                             class="btn btn-danger float-end"
                             href="{% url 'assignment_question_delete' object.pk question.pk %}">
                              Delete question
                          </a>
                      </form>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>

{{ assessment_types|json_script:"assessment_types" }}

<script>
/**
 * https://www.w3schools.com/howto/howto_js_cascading_dropdown.asp
 */
function initDynamicAssessment(questionId, assessmentTypes) {
    let typeSelect = document.getElementById(
        `questionAssessmentType-${questionId}`);
    let nameSelect = document.getElementById(
        `questionAssessmentName-${questionId}`);
    let valueSelect = document.getElementById(
        `questionAssessmentValue-${questionId}`);

    typeSelect.onchange = function() {
        // Reset name/value dropdowns
        nameSelect.length = 0;
        valueSelect.length = 0;

        typeObj = assessmentTypes.find(el => el.value === this.value);
        typeObj.names.forEach((name) => {
            nameSelect.options[nameSelect.options.length] =
                new Option(name.name, name.value);
        });
    };
};

function selectQuestion(selectEl, questionId, assessmentTypes) {
    const triggerEl = selectEl.querySelector(
        `option[data-bs-target="#question-${questionId}"]`)
    bootstrap.Tab.getOrCreateInstance(triggerEl).show();

    initDynamicAssessment(questionId, assessmentTypes);
};

/**
 * Display the Questions tab, and then the given question.
 */
function selectQuestionTab(questionId) {
    $('.ep-question-select').val(questionId);

    const triggerEl = document.querySelector(
        '#myTab button[data-bs-target="#questions-tab-pane"]');

    const assessmentTypes = JSON.parse(
        document.getElementById('assessment_types').textContent);

    triggerEl.addEventListener('shown.bs.tab', event => {
        selectQuestion(
            document.querySelector('.ep-question-select'),
            questionId,
            assessmentTypes);
    })

    bootstrap.Tab.getInstance(triggerEl).show()
};

$(document).ready(function() {
    const assessmentTypes = JSON.parse(
        document.getElementById('assessment_types').textContent);

    // Programmatic Bootstrap Tab functionality, adapted for the
    // <select> element.
    // https://getbootstrap.com/docs/5.3/components/navs-tabs/#javascript-behavior
    $('select.ep-question-select').on('change', function(e) {
        selectQuestion(e.target, Number(e.target.value), assessmentTypes);
    });
});
</script>
