{% extends 'base.html' %}
{% load econ_auth %}


{% block title %}Assignments{% endblock %}

{% block pagetitle %}<h1>Assignments</h1>{% endblock %}


{% block content %}
{% if i_am_instructor %}
    <a class="btn btn-primary mb-2"
       role="button"
       title="Create Assignment"
       href="{% url 'assignment_assignment_create' %}"
    >
        Create Assignment
    </a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Courses</th>
            <th scope="col">Updated at</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for assignment in assignment_list %}
        <tr>
            <th scope="row">
                <a href="{% url 'assignment_detail' assignment.pk %}"
                   title="{{assignment.title}}">
                    {{assignment.title}}
                </a>
            </th>
            <td>
                {% for cohort in assignment.cohorts.all %}
                    {{cohort.title}},
                {% endfor %}
            </td>
            <td>{{assignment.updated_at}}</td>
            <td>
                <a role="button"
                   class="btn btn-sm btn-secondary"
                   title="Edit {{assignment.title}}"
                   href="{% url 'assignment_assignment_edit' assignment.pk %}">
                    <i class="bi bi-pencil"></i>
                </a>
                <a role="button"
                   class="btn btn-sm btn-danger"
                   title="Remove {{assignment.title}}"
                   href="{% url 'assignment_assignment_delete' assignment.pk %}">
                    <i class="bi bi-x-lg"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
