{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
    <div class="float-end">
        <a class="btn btn-secondary display-inline"
           role="button"
           href="{% url 'assignment_assignment_edit' object.pk %}"
           title="Edit {{ object.title }}">
            Edit
        </a>
    </div>

    <h1>{{ object.title }}</h1>
{% endblock %}

{% block pagedescription %}

{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="assignment-tab"
                        data-bs-toggle="tab" data-bs-target="#assignment-tab-pane"
                        type="button" role="tab"
                        aria-controls="assignment-tab-pane" aria-selected="true">
                    Assignment
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'assignment_question_list' object.pk %}" class="nav-link" id="questions-tab"
                        aria-selected="false">
                    Questions
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="assignment-tab-pane"
                 role="tabpanel" aria-labelledby="assignment-tab" tabindex="0">
                {% include 'assignment/assignment_step_layout.html' %}

                <hr />

                <p>{{ object.prompt }}</p>
            </div>
        </div>
    </div>
{% endblock %}