{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{% if object %}Edit {% else %}New {% endif %} Assignment{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'assignment_list' %}" title="Assignment List">
                    {% include 'main/your_assignments_snippet.html' %}
                </a>
            </li>
            {% if object %}
                <li class="breadcrumb-item">
                    <a href="{% url 'assignment_assignment_detail' object.pk %}"
                       title="{{object.title}}">
                        {{ object.title|truncatewords:5 }}
                    </a>
                </li>
                <li class="breadcrumb-item">Edit Assignment</li>
            {% else %}
                <li class="breadcrumb-item">Create Assignment</li>
            {% endif %}
        </ol>
    </nav>
{% endblock %}

{% block pagetitle %}
    <h1>{% if object %}Edit {% else %}New {% endif %} Assignment</h1>
{% endblock %}

{% block content %}
    <form action="." method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Save</button>

            {% if object %}
                <a class="btn btn-secondary"
                   role="button"
                   href="{% url 'assignment_assignment_detail' object.pk %}">
                    Cancel
                </a>
            {% else %}
                <a class="btn btn-secondary"
                   role="button"
                   href="{% url 'assignment_assignment_list' %}">
                    Cancel
                </a>
            {% endif %}
        </div>
    </form>
{% endblock %}
