{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
    <h1>{{ object.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        Welcome to assignment {{object.pk}}!
    </div>

    {% if object.first_step %}
        <a href="{% url 'step_detail' object.pk object.first_step.pk %}"
           class="btn btn-primary mt-2"
           role="button"
           title="First question">
            First question
        </a>
    {% endif %}
{% endblock %}
