{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
    <h1>{{ object.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        Welcome to assignment {{object.pk}}!
    </div>

    <div class="ep-assignment-graph">
        {{ graph | safe }}
    </div>

    Your path:

    <div class="ep-score-path w-50">
        {% for step in steps %}
            <div class="assignment-step">
                {{forloop.counter}}.
                <a href="{% url 'step_detail' object.pk step.pk %}">
                    Step {{step.pk}}
                </a>
                {% if step.is_last_step %}
                    (End)
                {% endif %}
            </div>
        {% empty %}
            (Empty)
        {% endfor %}
    </div>

    {% if object.first_step %}
        <a href="{% url 'step_detail' object.pk object.first_step.pk %}"
           class="btn btn-primary mt-2"
           role="button"
           title="Begin assignment">
            Begin assignment
        </a>
    {% endif %}
{% endblock %}
