{% load static %}
<script src="{% static 's3sign/js/s3upload.js' %}"></script>

<div class="container mt-2">
  <div class="row">
      <div class="col-3">
          <div class="mb-3">
              <select class="form-select ep-question-select"
                      aria-label="Select question" role="tablist">
                      <option
                          value="0"
                          data-bs-toggle="tab"
                          role="tab"
                          data-bs-target="#question-0">
                          --
                      </option>
                  {% for question in questions %}
                      <option
                          value="{{question.pk}}"
                          data-bs-toggle="tab"
                          role="tab"
                          data-bs-target="#question-{{question.pk}}">
                          {{question.title}}
                      </option>
                  {% endfor %}
              </select>
          </div>

          <div class="mb-3">
              <form method="post"
                    action="{% url 'assignment_question_create' object.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                      <i class="bi bi-plus-lg"></i> Add question
                  </button>
              </form>
          </div>
      </div>
      <div class="col">
          <div class="tab-content" id="question-tabContent">
              {% for question in questions %}
                  <div class="tab-pane fade" id="question-{{question.pk}}"
                       role="tabpanel"
                       aria-labelledby="question-{{question.pk}}-tab" tabindex="0">
                      <h4>Question {{question.pk}}</h4>
                      <form method="post"
                            action="{% url 'assignment_question_edit' object.pk question.pk %}">
                          {% csrf_token %}

                          <div class="mb-3">
                              <label for="questionTitle-{{question.pk}}"
                                     class="form-label">
                                  Title
                              </label>
                              <input type="text" class="form-control"
                                     id="questionTitle-{{question.pk}}"
                                     name="title"
                                     value="{{question.title}}" />
                          </div>
                          <div class="mb-3">
                              <label for="questionPrompt-{{question.pk}}"
                                     class="form-label">
                                  Prompt
                              </label>
                              <textarea class="form-control"
                                        name="prompt"
                                        id="questionPrompt-{{question.pk}}"
                              >{{question.prompt}}</textarea>
                          </div>

                          <div class="mb-3">
                              <label for="questionGraph-{{question.pk}}"
                                     class="form-label">
                                  Graph
                              </label>
                              <select class="form-select"
                                      name="graph"
                                      id="questionGraph-{{question.pk}}">
                                  {% for graph in graphs %}
                                      <option value="{{graph.pk}}">
                                          {{graph.title}}
                                      </option>
                                  {% endfor %}
                              </select>
                          </div>

                          <!-- Rubric React component -->
                          <div id="question-rubric-{{question.pk}}"></div>

                          <button type="submit" class="btn btn-primary">
                              Save
                          </button>
                          <a role="button"
                             class="btn btn-danger float-end"
                             href="{% url 'assignment_question_delete' object.pk question.pk %}">
                              Delete question
                          </a>
                      </form>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>

<script>
function selectQuestion(selectEl, questionId) {
    const triggerEl = selectEl.querySelector(
        `option[data-bs-target="#question-${questionId}"]`)
    bootstrap.Tab.getOrCreateInstance(triggerEl).show();

    if (window.initRubric) {
        const containerId = `question-rubric-${questionId}`;
        const container = document.getElementById(containerId);
        window.initRubric(container, questionId);
    } else {
        console.error(
            'Rubric could not be initialized for question ' + questionId);
    }
};

/**
 * Display the Questions tab, and then the given question.
 */
function selectQuestionTab(questionId) {
    $('.ep-question-select').val(questionId);

    const triggerEl = document.querySelector(
        '#myTab button[data-bs-target="#questions-tab-pane"]');

    triggerEl.addEventListener('shown.bs.tab', event => {
        selectQuestion(
            document.querySelector('.ep-question-select'),
            questionId);
    })

    bootstrap.Tab.getInstance(triggerEl).show()
};

$(document).ready(function() {
    // Programmatic Bootstrap Tab functionality, adapted for the
    // <select> element.
    // https://getbootstrap.com/docs/5.3/components/navs-tabs/#javascript-behavior
    $('select.ep-question-select').on('change', function(e) {
        selectQuestion(e.target, Number(e.target.value));
    });
});
</script>
