<div class="assignment-grid d-flex flex-wrap">
    {% for step in tree %}
        <div class="assignment-step">
            <a href="{% url 'step_detail' object.pk step.id %}">
                Step {{step.id}}
            </a>
            <form name="remove_step" method="post"
                  class="float-end mb-1"
                  action="{% url 'tree_edit' object.pk %}">
                {% csrf_token %}
                <input name="action" value="remove_step" type="hidden" />
                <input name="step_id" value="{{step.id}}" type="hidden" />
                <button type="submit"
                        class="btn btn-sm btn-danger"
                        title="Remove step">
                    <i class="bi bi-x-lg"></i>
                </button>
            </form>

            <select class="form-select form-select-sm ep-question"
                    name="question_step_{{step.id}}">
                <option value="0">--</option>
                {% for question in questions %}
                    <option {% if step.data.question == question.pk %}selected{% endif %}
                            value="{{question.pk}}">
                        {{question.title}}
                    </option>
                {% endfor %}
            </select>

            <label for="step_next_{{step.id}}">
                Next step:
            </label>
            <select class="form-select form-select-sm ep-nextstep"
                    id="step_next_{{step.id}}"
                    name="step_next_{{step.id}}">
                <option value="0">(default)</option>
                {% for my_step in steps %}
                    {% if not my_step.is_root and my_step.pk != step.id %}
                        <option {% if step.data.next_step == my_step.pk %}selected{% endif %}
                                value="{{my_step.pk}}">
                            Step {{my_step.pk}}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>

            {% for substep in step.children %}
                {% if step.id is not substep.id %}
                    <div class="assignment-subpath">
                        <div class="assignment-empty-step">
                            <a href="{% url 'step_detail' object.pk substep.id %}">
                                Step {{substep.id}}
                            </a>

                            <form name="remove_step" method="post"
                                  class="float-end mb-1"
                                  action="{% url 'tree_edit' object.pk %}">
                                {% csrf_token %}
                                <input type="hidden"
                                       name="action"
                                       value="remove_step" />
                                <input type="hidden"
                                       name="step_id"
                                       value="{{substep.id}}" />
                                <button type="submit"
                                        class="btn btn-sm btn-danger"
                                        title="Remove step">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </form>

                            <select class="form-select form-select-sm ep-question"
                                    name="question_step_{{substep.id}}">
                                <option value="0">--</option>
                                {% for question in questions %}
                                    <option {% if substep.data.question == question.pk %}selected{% endif %}
                                            value="{{question.pk}}">
                                        {{question.title}}
                                    </option>
                                {% endfor %}
                            </select>

                            <label for="step_next_{{substep.id}}">
                                Next step:
                            </label>
                            <select class="form-select form-select-sm ep-nextstep"
                                    id="step_next_{{substep.id}}"
                                    name="step_next_{{substep.id}}">
                                <option value="0">(default)</option>
                                {% for my_step in steps %}
                                    {% if not my_step.is_root and my_step.pk != substep.id %}
                                        <option {% if substep.data.next_step == my_step.pk %}selected{% endif %}
                                                value="{{my_step.pk}}">
                                            Step {{my_step.pk}}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="assignment-empty-step">
                <form name="add_substep" method="post"
                      action="{% url 'tree_edit' object.pk %}">
                    {% csrf_token %}
                    <input type="hidden"
                           name="action"
                           value="add_substep" />
                    <input type="hidden"
                           name="step_id"
                           value="{{step.id}}" />
                    <button class="btn btn-sm btn-primary"
                            title="Add step">
                        <i class="bi bi-plus-lg"></i>
                        Add step
                    </button>
                </form>
            </div>

        </div>
    {% endfor %}

    <form name="add_step" method="post"
          class="mr-2"
          action="{% url 'tree_edit' object.pk %}">
        {% csrf_token %}
        <input name="action" value="add_step" type="hidden" />
        <button type="submit" class="btn btn-primary" title="Add step">
            <i class="bi bi-plus-lg"></i>
            Add step
        </button>
    </form>
</div>

<form name="save" method="post"
      action="{% url 'tree_edit' object.pk %}">
    {% csrf_token %}

    <input name="action" value="save" type="hidden" />
    <button type="submit" class="btn btn-primary"
            title="Save step state">
        Save
    </button>
</form>

<script>
/*
 * Some minimal-as-possible JS to connect the question <select> boxes
 * up to the <form> submit. Would be nice if we could design the form
 * in a way where this wasn't necessary.
 */
$(document).ready(function() {
    let stepQuestions = {};
    let nextSteps = {};

    $('.assignment-grid select.ep-question').on('change', function(e) {
        const match = e.target.name.match(/\d+$/);
        let stepId = null;
        if (match) {
            stepId = Number(match);
        }

        const questionId = Number(e.target.value);

        if (stepId) {
            stepQuestions[stepId] = questionId;
        }
    });

    $('.assignment-grid select.ep-nextstep').on('change', function(e) {
        const match = e.target.name.match(/\d+$/);
        let stepId = null;
        if (match) {
            stepId = Number(match);
        }

        const nextStepId = Number(e.target.value);

        if (stepId) {
            nextSteps[stepId] = nextStepId;
        }
    });

    $('form[name="save"]').submit(function(e) {
        let inputEls = [];

        for (const stepId in stepQuestions) {
            const questionId = stepQuestions[stepId];
            inputEls.push(
                '<input type="hidden"' +
                ' name="step_question_' + stepId + '"' +
                ' value="' + questionId + '" />'
            );
        }

        for (const stepId in nextSteps) {
            const nextStepId = nextSteps[stepId];
            inputEls.push(
                '<input type="hidden"' +
                ' name="step_next_' + stepId + '"' +
                ' value="' + nextStepId + '" />'
            );
        }

        $(e.target).append(inputEls);
    });
});
</script>
