{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
    <h1>{{ object.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        Welcome to assignment {{object.pk}}!
    </div>

    <h3>Assignment steps</h3>
    <div class="ep-assignment-graph mb-2">
        {{ graph | safe }}
    </div>

    <h3>Your path:</h3>
    <div class="ep-score-path border p-2 w-50 mb-2">
        {% for step in steps %}
            <div class="assignment-step">
                {{forloop.counter}}.
                <a href="{% url 'step_detail' object.pk step.0.pk %}">
                    {% if step.0.name %}
                        {{ step.0.name }}
                    {% else %}
                        Step {{step.0.pk}}
                    {% endif %}
                     - {{ step.1 }} attempt{% if step.1 != 1 %}s{% endif %}
                </a>
                {% if step.0.is_last_step %}
                    (End)
                {% endif %}
            </div>
        {% empty %}
            (Empty)
        {% endfor %}
    </div>

    {% if object.first_step %}
        <a href="{% url 'step_detail' object.pk object.first_step.pk %}"
           class="btn btn-primary mt-2"
           role="button"
           title="Begin assignment">
            Begin assignment
        </a>
    {% endif %}
{% endblock %}
