{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ object.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
<h1 class="mt-4">{{ object.title }}</h1>
{% endblock %}

{% block pagedescription %}

{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-sm btn-secondary float-right"
       href="{% url 'assignment_assignment_edit' object.pk %}"
       title="Edit {{ object.title }}">
        Edit assignment
    </a>

    <p>{{ object.prompt }}</p>

    <div class="assignment-grid d-flex">
        <div class="assignment-empty-step">
            <form name="add_step" method="post"
                  action="{% url 'tree_edit' object.pk %}">
                {% csrf_token %}
                <input name="action" value="add_step" type="hidden" />
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus"></i>
                    Add step
                </button>
            </form>
        </div>

        {% for step in tree %}
            <div class="assignment-step">
                <form name="remove_step" method="post"
                      class="float-right mb-1"
                      action="{% url 'tree_edit' object.pk %}">
                    {% csrf_token %}
                    <input name="action" value="remove_step" type="hidden" />
                    <input name="step_id" value="{{step.pk}}" type="hidden" />
                    <button type="submit"
                            class="btn btn-sm btn-danger"
                            title="Remove step">
                        <i class="bi bi-x"></i>
                    </button>
                </form>

                <select class="form-control form-control-sm">
                    <option>Select question bank</option>
                </select>

                <div class="assignment-subpath">
                    subpath

                    <div class="assignment-empty-step">
                        <form name="add_substep" method="post">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-primary">
                                <i class="bi bi-plus"></i>
                                Add step
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
