{% extends 'base.html' %}
{% load static %}

{% block title %}{{ assignment.title }}{% endblock %}

<script src="{% static 's3sign/js/s3upload.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ assignment.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block js %}
    <script src="{% static 'js/build/rubric.js' %}"></script>
    <script src="{% static 'js/build/multipleChoice.js' %}"></script>
    <script src="{% static 'js/build/graphPreview.js' %}"></script>
    <script>
    if (!window.EconPlayground) {
        window.EconPlayground = {};
    }

    $(document).ready(function() {
        if (window.initGraphPreview) {
            const containerId = 'graph-preview';
            const container = document.getElementById(containerId);

            const $select = $('select[name="graph"]')[0];
            const gId = $select.options[1]
            window.initGraphPreview(container, parseInt(gId.value));
        } else {
            console.error(
                'Graph Preview could not be initialized for question ' + questionId);
        }
        if (window.initMultipleChoice) {
            const containerId = 'multiple-choice-';
            const container = document.getElementById(containerId);
            window.initMultipleChoice(container, null);
        } else {
            console.error(
                'Multiple Choice could not be initialized for the new question');
        }
        if (window.initRubric) {
            const containerId = 'question-rubric';
            const container = document.getElementById(containerId);
            window.initRubric(container, null);
        } else {
            console.error('Rubric could not be initialized for new question');
        }
    });

    const setGraphType = function(graphType) {
        const graphTypeUpdated = new CustomEvent('graphTypeUpdated', {
            detail: graphType
        });
        document.dispatchEvent(graphTypeUpdated);
    };

    $(document).ready(function() {
        // Set graph type on load, for the create form.
        const $select = $('select[name="graph"]')[0];
        const graphType = $select.options[0].dataset['graphtype'];

        window.EconPlayground.initialGraphType = parseInt(graphType, 10);

        $('select[name="graph"]').on('change', function(e) {
            const selectedOption = e.target.options[e.target.selectedIndex];
            setGraphType(selectedOption.dataset.graphtype);

            const containerId = 'graph-preview';
            const container = document.getElementById(containerId);
            window.initGraphPreview(container, parseInt(selectedOption.value));
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'assignment_detail' assignment.pk %}"
                   type="button" role="tab"
                   aria-controls="assignment-tab-pane" aria-selected="false">
                    Assignment
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'assignment_question_list' assignment.pk %}"
                   class="nav-link active"
                        aria-selected="true">
                    Questions
                </a>
            </li>
        </ul>

<div class="container mt-2">
  <div class="row">
      <div class="tab-content" id="question-tabContent">
          <form method="post" action=".">
              {% csrf_token %}

              <div class="mb-3">
                  <label for="questionTitle"
                         class="form-label">
                      Title
                  </label>
                  <input type="text" class="form-control"
                         id="questionTitle"
                         name="title" />
              </div>
              <div class="mb-3">
                  <label for="questionPrompt"
                         class="form-label">
                      Prompt
                  </label>
                  <textarea class="form-control"
                            name="prompt"
                            id="questionPrompt"
                  ></textarea>
              </div>

              <div class="mb-3">
                  <label for="questionGraph"
                         class="form-label">
                      Graph
                  </label>
                  <select class="form-select"
                          name="graph"
                          id="questionGraph">
                      <option value="">--</option>
                      {% for graph in graphs %}
                          <option data-graphtype="{{graph.graph_type}}"
                                  value="{{graph.pk}}">
                              {{graph.title}}
                          </option>
                      {% endfor %}
                  </select>
              </div>

              <div class="container mb-2 accordion">
                <div class="accordion-item">
                    <div class="accordion-header"
                        id="heading">
                        <button class="accordion-button py-2 collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-graph"
                                aria-expanded="false"
                                aria-controls="collapse-graph">
                            Graph Preview
                        </button>
                    </div>
                    <div id="collapse-graph"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading"
                            data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Graph Preview React Component -->
                            <div id="graph-preview"></div>
                        </div>
                    </div>
                </div>
            </div>           

             <!-- Multiple Choice React Component -->
             <div id="multiple-choice"></div>

              <!-- Rubric React component -->
              <div id="question-rubric"></div>

              <button type="submit" class="btn btn-primary">
                  Create
              </button>
          </form>
      </div>
  </div>
</div>
{% endblock %}
