{% load assignment_tags %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="assignment-grid d-flex flex-wrap">
    {% if tree %}
        <!--
             If we have an assignment tree, display a button to add a
             new Step at the beginning.
        -->
        <form name="add_step_beginning" method="post"
              class="mt-1 mb-1"
              action="{% url 'tree_edit' object.pk %}">
            {% csrf_token %}
            <input name="action" value="add_step_beginning" type="hidden" />
            <button type="submit"
                    class="btn btn-primary"
                    title="Add step at beginning">
                <i class="bi bi-plus-lg"></i>
            </button>
        </form>
    {% endif %}

    {% for step in tree %}
        {% include "./assignment_step.html" %}
    {% endfor %}

    <form name="add_step" method="post"
          class="mt-1 mb-1"
          action="{% url 'tree_edit' object.pk %}">
        {% csrf_token %}
        <input name="action" value="add_step" type="hidden" />
        <button type="submit" class="btn btn-primary" title="Add step">
            <i class="bi bi-plus-lg"></i>
            Add step
        </button>
    </form>
</div>

<form name="save" method="post"
      action="{% url 'tree_edit' object.pk %}">
    {% csrf_token %}

    <input name="action" value="save" type="hidden" />
    <button type="submit" class="btn btn-primary"
            title="Save step state">
        Save
    </button>
</form>

<script>
/*
 * Some minimal-as-possible JS to connect the question <select> boxes
 * up to the <form> submit. Would be nice if we could design the form
 * in a way where this wasn't necessary.
 */
$(document).ready(function() {
    let stepQuestions = {};
    let nextSteps = {};

    $('.assignment-grid select.ep-question').on('change', function(e) {
        const match = e.target.name.match(/\d+$/);
        let stepId = null;
        if (match) {
            stepId = Number(match);
        }

        const questionId = Number(e.target.value);

        if (stepId) {
            stepQuestions[stepId] = questionId;
        }
    });
    $('.assignment-grid select.ep-question').select2({
        dropdownCSSClass: ':all:',
    });

    $('.assignment-grid select.ep-nextstep').on('change', function(e) {
        const match = e.target.name.match(/\d+$/);
        let stepId = null;
        if (match) {
            stepId = Number(match);
        }

        const nextStepId = Number(e.target.value);

        if (stepId) {
            nextSteps[stepId] = nextStepId;
        }
    });

    $('form[name="save"]').submit(function(e) {
        let inputEls = [];

        for (const stepId in stepQuestions) {
            const questionId = stepQuestions[stepId];
            inputEls.push(
                '<input type="hidden"' +
                ' name="step_question_' + stepId + '"' +
                ' value="' + questionId + '" />'
            );
        }

        for (const stepId in nextSteps) {
            const nextStepId = nextSteps[stepId];
            inputEls.push(
                '<input type="hidden"' +
                ' name="step_next_' + stepId + '"' +
                ' value="' + nextStepId + '" />'
            );
        }

        $(e.target).append(inputEls);
    });

    $('.ep-step-rename').on('click', function(e) {
        e.preventDefault();

        const $target = $(e.target);

        // Prepare rename form for input
        $target.closest('button').hide();
        const $form = $target.closest('form');
        $form.find('.ep-step-rename-save').show();
        $form.find('.ep-step-rename-cancel').show();
        $form.closest('.assignment-step').find('.ep-step-remove').hide();

        const $row = $target.closest('.row');
        $row.find('.ep-step-name').hide();
        $input = $row.find('.ep-step-name-input');
        $input.show();
        $hiddenInput = $form.find('[name="step_name"]')
        $input.on('change', function(e) {
            $hiddenInput.val(e.target.value);
        });
    });

    $('.ep-step-rename-cancel').on('click', function(e) {
        e.preventDefault();

        const $target = $(e.target);

        // Reset to default state
        $target.closest('button').hide();
        const $form = $target.closest('form');
        $form.find('.ep-step-rename').show();
        $form.find('.ep-step-rename-save').hide();
        $form.find('.ep-step-rename-cancel').hide();
        $form.closest('.assignment-step').find('.ep-step-remove').show();

        const $row = $target.closest('.row');
        $row.find('.ep-step-name').show();
        $input = $row.find('.ep-step-name-input');
        $input.hide();
    });
});
</script>
