<fieldset id="multiple-choice" class="my-4">
    <strong>Multiple Choice:</strong>
    {% for rule in question.rules %}
    <div class="form-check">
        <input
            class="form-check-input"
            type="radio" id="multiple_choice_{{rule.pk}}"
            value="{{rule.pk}}"
            name="multiple_choice_{{rule.pk}}">
        <label
            class="form-check-label"
            for="multiple_choice_{{rule.pk}}">
            {{rule.assessment_name}}
        </label>
    </div>
    {% endfor %}
</fieldset>
