{% extends 'base.html' %}
{% load static %}

{% block title %}{{ assignment.title }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_list' %}" title="Assignment List">
                {% include 'main/your_assignments_snippet.html' %}
            </a>
        </li>
        <li class="breadcrumb-item">
            {{ assignment.title|truncatewords:5 }}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
    <h1>Question Editor</h1>
{% endblock %}

{% block pagedescription %}

{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a href={% url 'assignment_detail' assignment.pk %}
                   class="nav-link"
                   type="button" role="tab" aria-selected="false">
                    Assignment
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                   type="button" role="tab" aria-selected="true">
                    Questions
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="questions-tab-pane"
                 role="tabpanel" tabindex="0">
                {% include 'assignment/assignment_questions.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/build/rubric.js' %}"></script>
{% endblock %}
