{% extends 'base.html' %}
{% load static %}

{% block title %}Step {{ object.pk }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assignment_detail' assignment.pk %}">
                {{assignment.title|truncatewords:5}}
            </a>
        </li>
        <li class="breadcrumb-item">
            Step {{object.pk}}
        </li>
    </ol>
</nav>
{% endblock %}

{% block pagetitle %}
<h1>Step {{object.pk}}</h1>
{% endblock %}

{% block js %}
    <script>
        if (!window.EconPlayground) {
            window.EconPlayground = {};
        }

        {% if object.question and object.question.graph %}
            window.GRAPH_ID = {{object.question.graph.pk}};
        {% endif %}
    </script>
    <script src="{% static 'js/build/stepGraphViewer.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% if object.question %}
            <h4>{{object.question.title}}</h4>
            <p>
                {{object.question.prompt}}
            </p>

            <form method="post">
                {% csrf_token %}

                <div id="root">
                    <div class="loader-inner ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                {% if submission != None %}
                    <div>
                        Submitted: {{submission}}
                    </div>
                {% else %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endif %}
            </form>
        {% else %}
            <p>
                No question
            </p>
        {% endif %}

        <hr />

        <a class="btn btn-primary {% if not prev_url %}disabled{% endif %}"
           role="button"
           {% if prev_url %}
           href="{{prev_url}}"
           {% else %}
           disabled="disabled"
           {% endif %}
        >
            <i class="bi bi-arrow-left"></i>
            Previous
        </a>


        <a class="btn btn-small btn-primary {% if not next_url %}disabled{% endif %}"
           role="button"
           {% if next_url %}
           href="{{next_url}}"
           {% else %}
           disabled="disabled"
           {% endif %}
        >
            Next
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>
{% endblock %}
