{# Student navigation of assignment #}

{% if not object.is_last_step %}
{% if submission %}
<a class="btn btn-small btn-primary {% if not next_url %}disabled{% endif %}"
   role="button" title="Next"
   {% if next_url %}
   href="{{next_url}}"
   {% else %}
   disabled="disabled"
   {% endif %}
   >
    Next
    <i class="bi bi-arrow-right"></i>
</a>
{% else %}
<a class="btn btn-small btn-primary {% if not next_incorrect_url %}disabled{% endif %}"
   role="button" title="Next"
   {% if next_incorrect_url %}
   href="{{next_incorrect_url}}"
   {% else %}
   disabled="disabled"
   {% endif %}
   >
    Next
    <i class="bi bi-arrow-right"></i>
</a>
{% endif %}
{% endif %}
