{% extends 'base.html' %}
{% load static econ_auth %}

{% block title %}Step {{ object.pk }} | {{assignment.title}}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/loaders.min.css' %}">
{% endblock %}

{% block breadcrumb %}
    {% user_is_instructor request.user as i_am_instructor %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                {% if i_am_instructor %}
                    <a href="{% url 'assignment_detail' assignment.pk %}">
                        {{assignment.title|truncatewords:5}}
                    </a>
                {% else %}
                    <a href="{% url 'assignment_detail_student' assignment.pk %}">
                        {{assignment.title|truncatewords:5}}
                    </a>
                {% endif %}
            </li>
            <li class="breadcrumb-item">
                Step {{object.pk}}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block pagetitle %}
<h1>Step {{object.pk}}</h1>
{% endblock %}

{% block js %}
    <script>
    if (!window.EconPlayground) {
        window.EconPlayground = {};
    }

    {% if object.question and object.question.graph %}
            window.GRAPH_ID = {{object.question.graph.pk}};
    {% endif %}

    {% if submission is not None %}
        window.EconPlayground.submitted = true;
    {% endif %}
    </script>
    {% if object.question.graph %}
        <script src="{% static 'js/build/stepGraphViewer.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if submission != None and object.is_last_step %}
            <div class="alert alert-primary" role="alert">
                <p>
                    Assignment complete!
                </p>

                <p>
                    Go back to:
                    <a href="{% url 'assignment_detail_student' assignment.pk %}">
                        Assignment summary
                    </a>
                </p>
            </div>
        {% endif %}

        {% if object.question %}
            <h4>{{object.question.title}}</h4>
            <p>
                {{object.question.prompt}}
            </p>

            <form method="post">
                {% csrf_token %}

                {% if object.question.graph %}
                    <div id="root">
                        <div class="loader-inner ball-pulse">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                {% endif %}

                {% if submission != None %}
                    {% if object.question.first_rule.has_feedback %}
                        <div class="alert alert-light" role="alert">
                            {% if submission and object.question.first_rule.has_fulfilled_feedback %}
                                <p>
                                    {{object.question.first_rule.feedback_fulfilled}}
                                </p>

                                {% if object.question.first_rule.media_fulfilled %}
                                    <img src="{{object.question.first_rule.media_fulfilled.url }}"
                                         class="img-fluid" alt="Question fulfilled media"/>
                                {% endif %}
                            {% elif object.question.first_rule.has_unfulfilled_feedback %}
                                <p>
                                    {{object.question.first_rule.feedback_unfulfilled}}
                                </p>

                                {% if object.question.first_rule.media_unfulfilled %}
                                    <img src="{{object.question.first_rule.media_unfulfilled.url }}"
                                         class="img-fluid" alt="Question unfulfilled media"/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}

                    <input type="hidden" name="unsubmit" value="true" />
                    <button type="submit" class="btn btn-secondary">
                        Un-submit
                    </button>

                    {% if not object.is_last_step %}
                        {% if submission %}
                            <a class="btn btn-small btn-primary {% if not next_url %}disabled{% endif %}"
                               role="button" title="Next"
                               {% if next_url %}
                               href="{{next_url}}"
                               {% else %}
                               disabled="disabled"
                               {% endif %}
                            >
                                Next
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-small btn-primary {% if not next_incorrect_url %}disabled{% endif %}"
                               role="button" title="Next"
                               {% if next_incorrect_url %}
                               href="{{next_incorrect_url}}"
                               {% else %}
                               disabled="disabled"
                               {% endif %}
                            >
                                Next
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        {% endif %}
                    {% endif %}

                {% else %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endif %}
            </form>
        {% else %}
            <p>
                No question
            </p>
        {% endif %}



        {% if i_am_instructor %}
            <hr />

            <small>
                Instructor nav:
            </small>
            <a class="btn btn-sm btn-primary {% if not prev_url %}disabled{% endif %}"
                role="button" title="Previous"
               {% if prev_url %}
                href="{{prev_url}}"
               {% else %}
               disabled="disabled"
               {% endif %}
            >
                <i class="bi bi-arrow-left"></i>
                Previous
            </a>


            <a class="btn btn-sm btn-primary {% if not next_url %}disabled{% endif %}"
               role="button" title="Next"
               {% if next_url %}
               href="{{next_url}}"
               {% else %}
               disabled="disabled"
               {% endif %}
            >
                Next
                <i class="bi bi-arrow-right"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}
