{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/splash.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark mb-4">
                <div class="container-fluid">
                    <a href="/" target="_blank" title="Launch EconPractice">
                        <img src="{% static 'img/logo-econpractice.svg' %}" width="200" height="39.78" alt="EconPractice logo" />
                    </a>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            {% if course %}
            <p>
                Course "<a href="{% url 'cohort_detail' course.pk %}" target="_blank">{{course.title}}</a>"
                has been provisioned in EconPractice, containing {{course.graph_count}} graphs.
            </p>
            {% elif course_id and course_name %}
            <p>
                This {{lti_tool_name}} course has not yet been provisioned in EconPractice.
            </p>
            <form action="{{landing_url}}">
                <input type="hidden" name="context_id" value="{{course_id}}" />

                <div class="mb-3">
                    <label for="courseName1">Course name</label>
                    <input class="form-control" type="text" id="courseName1" value="{{course_name}}" />
                </div>

                <button type="submit" class="btn btn-primary">
                    Create course
                </button>
            </form>
            {% endif %}
        </div>
    </body>
</html>
